<a href="https://colab.research.google.com/github/Ranjeet72/Pep-Assigemenet/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('mach.data',sep = ',')

In [4]:
df

,vendor name,Model,MYCT,MMIN,MMAX,CACH,CHMIN,CHMAX,PRP,ERP
0,adviser,32/60,125,256,6000,256,16,128,198,199
1,amdahl,470v/7,29,8000,32000,32,8,32,269,253
2,amdahl,470v/7a,29,8000,32000,32,8,32,220,253
3,amdahl,470v/7b,29,8000,32000,32,8,32,172,253
4,amdahl,470v/7c,29,8000,16000,32,8,16,132,132
...,...,...,...,...,...,...,...,...,...,...
204,sperry,80/8,124,1000,8000,0,1,8,42,37
205,sperry,90/80-model-3,98,1000,8000,32,2,8,46,50
206,sratus,32,125,2000,8000,0,2,14,52,41
207,wang,vs-100,480,512,8000,32,0,0,67,47
208,wang,vs-90,480,1000,4000,0,0,0,45,25

In [5]:
df =df.drop('Model',axis = True)

In [6]:
df

    vendor name  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0       adviser   125   256   6000   256     16    128  198  199
1        amdahl    29  8000  32000    32      8     32  269  253
2        amdahl    29  8000  32000    32      8     32  220  253
3        amdahl    29  8000  32000    32      8     32  172  253
4        amdahl    29  8000  16000    32      8     16  132  132
..          ...   ...   ...    ...   ...    ...    ...  ...  ...
204      sperry   124  1000   8000     0      1      8   42   37
205      sperry    98  1000   8000    32      2      8   46   50
206      sratus   125  2000   8000     0      2     14   52   41
207        wang   480   512   8000    32      0      0   67   47
208        wang   480  1000   4000     0      0      0   45   25

[209 rows x 9 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder
# encode 'anchorID' column
le = LabelEncoder()
df['vendor name'] = le.fit_transform(df['vendor name'])

In [8]:
df

     vendor name  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0              0   125   256   6000   256     16    128  198  199
1              1    29  8000  32000    32      8     32  269  253
2              1    29  8000  32000    32      8     32  220  253
3              1    29  8000  32000    32      8     32  172  253
4              1    29  8000  16000    32      8     16  132  132
..           ...   ...   ...    ...   ...    ...    ...  ...  ...
204           27   124  1000   8000     0      1      8   42   37
205           27    98  1000   8000    32      2      8   46   50
206           28   125  2000   8000     0      2     14   52   41
207           29   480   512   8000    32      0      0   67   47
208           29   480  1000   4000     0      0      0   45   25

[209 rows x 9 columns]

In [9]:
X = df.iloc[:, 0:-1]
y = df.iloc[:,-1]

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [11]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
import sklearn.metrics as sm
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

In [12]:
# Define the pipeline steps
scaler = StandardScaler() # Standardize the features
pca = PCA(n_components=2) # Reduce the dimensionality with PCA
reg = LinearRegression() # Fit a linear regression model

# Create the pipeline object
pipe = Pipeline(steps=[("scaler", scaler), ("pca", pca), ("reg", reg)])

# Fit the pipeline on the training data
pipe.fit(X_train, y_train)

# Predict on the test data
y_pred = pipe.predict(X_test)
print("Accuracy score =", round(sm.r2_score(y_test, y_pred), 2)*100,"%")

Accuracy score = 89.0 %

In [13]:
# Define the pipeline steps
scaler = StandardScaler() # Standardize the features
pca = PCA(n_components=2) # Reduce the dimensionality with PCA
svr = SVR(kernel="rbf", C=200) # Fit a SVM model

# Create the pipeline object
pipe = Pipeline(steps=[("scaler", scaler), ("pca", pca), ("svr", svr)])

# Fit the pipeline on the training data
pipe.fit(X_train, y_train)

# Predict on the test data
y_pred = pipe.predict(X_test)
print("Accuracy score =", round(sm.r2_score(y_test, y_pred), 2)*100,"%")

Accuracy score = 61.0 %

In [14]:
# Define the pipeline steps
scaler = StandardScaler() # Standardize the features
pca = PCA(n_components=2) # Reduce the dimensionality with PCA
knn = KNeighborsRegressor(n_neighbors=5, metric="euclidean") # Fit a KNN model

# Create the pipeline object
pipe = Pipeline(steps=[("scaler", scaler), ("pca", pca), ("knn", knn)])

# Fit the pipeline on the training data
pipe.fit(X_train, y_train)

# Predict on the test data
y_pred = pipe.predict(X_test)
print("Accuracy score =", round(sm.r2_score(y_test, y_pred), 2)*100,"%")

Accuracy score = 84.0 %